:host {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.grade-row {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   font-size: 20px;
}

.grade-text {
   min-width: 60px;
   font-weight: 500;
}

.card {
   margin-left: auto;
   margin-right: auto;
   max-width: 800px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
}

.card-title {
   font-size: 20px;
}

.full-width {
   width: 100%;
}

.content {
   flex: 1 1 auto;
}

.btn-delete {
   position: absolute;
   bottom: 20px;
   right: 20px;
}
