html {
   height: 100%;
}

body {
   /* mobile viewport bug fix */
   height: 100vh;
   /* WebKit-based browsers will ignore this. */
   height: -moz-available;
   /* Mozilla-based browsers will ignore this. */
   height: -webkit-fill-available;
   height: stretch;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #fafafa;
   /* Disables pull-to-refresh but allows overscroll glow effects. */
   overscroll-behavior-y: none;
}

.spacer {
   flex: 1 0 auto;
}

.mat-option-text {
   text-align: center;
}
