html {
   height: 100%;
}

body {
   height: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #fafafa;
   /* Disables pull-to-refresh but allows overscroll glow effects. */
   overscroll-behavior-y: none;
}

.spacer {
   flex: 1 0 auto;
}

.mat-option-text {
   text-align: center;
}
