html {
   height: 100%;
   height: -moz-available;
   /* WebKit-based browsers will ignore this. */
   height: -webkit-fill-available;
   /* Mozilla-based browsers will ignore this. */
   height: stretch;
}

body {
   height: 100%;
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #fafafa;
}

.spacer {
   flex: 1 1 auto;
}
