:host {
   display: flex;
   flex-direction: column;
   /* mobile viewport bug fix */
   height: 100vh;
   /* WebKit-based browsers will ignore this. */
   height: -moz-available;
   /* Mozilla-based browsers will ignore this. */
   height: -webkit-fill-available;
   height: stretch;
}

.mat-toolbar {
   z-index: 2;
}

.mat-tab-group {
   flex: 1 1 auto;
}

.mat-tab-group >>> .mat-tab-body-wrapper {
   flex: 1 1 auto;
}
