:host {
   display: flex;
   flex-direction: column;
   height: calc(100vh - calc(100vh - 100%))
}

.mat-toolbar {
   z-index: 2;
}

.calc-skala {
   margin: auto;
   max-width: 800px;
   height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.grade-container {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
}

.grade-row {
   display: flex;
   flex-direction: row;
   margin-top: 24px;
   font-size: 20px;
}

.grade-text {
   min-width: 150px;
}

.title {
   font-size: 20px;
}

.full-width {
   width: 100%;
}

.content {
   height: 100%;
}

.actions {
   display: flex;
}
