:host {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.mat-toolbar {
   z-index: 2;
}

.mat-tab-group {
   flex: 1 1 auto;
}

.mat-tab-group >>> .mat-tab-body-wrapper {
   flex: 1 1 auto;
}

.btn-delete {
   position: absolute;
   bottom: 20px;
   right: 20px;
   z-index: 2;
}
